//滚动菜单样式
#menu {
  margin: -80px 0 0;
  padding: 0;
  position: fixed;
  right: 15px;
  top: 50%;
  list-style-type: none;
  z-index: 70;
}

#menu li {
  margin: 0;
  font-size: 14px;
}

#menu a {
  float: left;
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
}

#menu .active a {
  color: #fff;
  background-color: #333;
}

.section {
  text-align: center;
  font: 50px "Microsoft Yahei";
  color: #fff;
}

//全屏滚动slider样式
.full-page-child-wrap {
  height: 100%;
}


//全屏滚动banner样式

